@charset "utf-8";
	.NormalCharacterStyle5
{
	font-family : Myriad Pro;
	font-size : 8px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle3
{
	font-family : PT Sans;
	font-size : 8px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle4
{
	font-family : Azo Sans;
	font-size : 8px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle6
{
	font-family : PT Sans;
	font-weight : bold;
	font-size : 13px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle2
{
	font-family : PT Sans;
	font-weight : bold;
	font-size : 13px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle1
{
	font-family : PT Sans;
	font-weight : bold;
	font-size : 13px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle12
{
	font-family : PT Sans;
	font-size : 13px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle9
{
	font-family : Myriad Pro;
	font-size : 8px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle14
{
	font-family : Azo Sans;
	font-size : 8px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle17
{
	font-family : PT Sans;
	font-size : 9px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle21
{
	font-family : PT Sans;
	font-size : 8px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle13
{
	font-family : Azo Sans;
	font-size : 8px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle10
{
	font-family : PT Sans;
	font-weight : bold;
	font-size : 14px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle19
{
	font-family : PT Sans;
	font-size : 8px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle7
{
	font-family : PT Sans;
	font-weight : bold;
	font-size : 13px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle
{
	font-family : PT Sans;
	font-size : 8px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle8
{
	font-family : PT Sans;
	font-size : 8px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle11
{
	font-family : PT Sans;
	font-weight : bold;
	font-size : 13px;
	line-height : 12px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle15
{
	font-family : Azo Sans;
	font-size : 8px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle22
{
	font-family : PT Sans;
	font-size : 9px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle18
{
	font-family : PT Sans;
	font-size : 9px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle16
{
	font-family : PT Sans;
	font-size : 8px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle20
{
	font-family : PT Sans;
	font-size : 8px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.st0
{
	background : #E93941;
	background : rgba(233, 57, 65, 1);
	position : absolute ;
	left : 32px;
	top : 105px;
}
.st1
{
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 28px;
	top : 675px;
}
.st2
{
	background : #E93941;
	background : rgba(233, 57, 65, 1);
	position : absolute ;
	left : 33px;
	top : 703px;
}
.st3
{
	background : #E93941;
	background : rgba(233, 57, 65, 1);
	position : absolute ;
	left : 33px;
	top : 581px;
}
.st4
{
	background : #E93941;
	background : rgba(233, 57, 65, 1);
	position : absolute ;
	left : 225px;
	top : 332px;
}
.st5
{
	background : #E93941;
	background : rgba(233, 57, 65, 1);
	position : absolute ;
	left : 424px;
	top : 474px;
}
.st6
{
	background : #E93941;
	background : rgba(233, 57, 65, 1);
	position : absolute ;
	left : 423px;
	top : 386px;
}
.st7
{
	background : #ED1C24;
	background : rgba(237, 28, 36, 1);
	position : absolute ;
	left : 425px;
	top : 96px;
}
.st8
{
	background : #E93941;
	background : rgba(233, 57, 65, 1);
	position : absolute ;
	left : 33px;
	top : 248px;
}
.st9
{
	background : #E93941;
	background : rgba(233, 57, 65, 1);
	position : absolute ;
	left : 424px;
	top : 62px;
}
.st10
{
	background : #E93941;
	background : rgba(233, 57, 65, 1);
	position : absolute ;
	left : 424px;
	top : 705px;
}
.st11
{
	background : #E93941;
	background : rgba(233, 57, 65, 1);
	position : absolute ;
	left : 33px;
	top : 470px;
}
.st12
{
	background : #E93941;
	background : rgba(233, 57, 65, 1);
	position : absolute ;
	left : 423px;
	top : 172px;
}
.st13
{
	background : #E93941;
	background : rgba(233, 57, 65, 1);
	position : absolute ;
	left : 43px;
	top : 826px;
}
.st14
{
	background : #E93941;
	background : rgba(233, 57, 65, 1);
	position : absolute ;
	left : 224px;
	top : 96px;
}
.st15
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	position : absolute ;
	left : 609px;
	top : -14px;
}
.st16
{
	background : #E93941;
	background : rgba(233, 57, 65, 1);
	position : absolute ;
	left : 425px;
	top : 75px;
}
.st17
{
	background : #ED1C24;
	background : rgba(237, 28, 36, 1);
	position : absolute ;
	left : 425px;
	top : 117px;
}
