@charset "utf-8";
	.NormalCharacterStyle5
{
	font-family : PT Sans;
	font-size : 13px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle3
{
	font-family : PT Sans;
	font-weight : bold;
	font-size : 13px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle4
{
	font-family : PT Sans;
	font-size : 8px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle6
{
	font-family : Azo Sans;
	font-size : 8px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle2
{
	font-family : PT Sans;
	font-size : 8px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle1
{
	font-family : PT Sans;
	font-size : 9px;
	line-height : 12px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle25
{
	font-family : PT Sans;
	font-weight : bold;
	font-size : 13px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle23
{
	font-family : PT Sans;
	font-size : 13px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle12
{
	font-family : PT Sans;
	font-size : 8px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle9
{
	font-family : Azo Sans;
	font-size : 8px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle14
{
	font-family : PT Sans;
	font-size : 8px;
	line-height : 11px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle28
{
	font-family : PT Sans;
	font-size : 11px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle17
{
	font-family : PT Sans;
	font-size : 9px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle21
{
	font-family : PT Sans;
	font-size : 8px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle13
{
	font-family : PT Sans;
	font-size : 9px;
	line-height : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle10
{
	font-family : PT Sans;
	font-size : 8px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle19
{
	font-family : PT Sans;
	font-size : 9px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle27
{
	font-family : Azo Sans;
	font-size : 10px;
	line-height : 13px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle24
{
	font-family : PT Sans;
	font-weight : bold;
	font-size : 13px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle7
{
	font-family : Azo Sans;
	font-size : 8px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle
{
	font-family : PT Sans;
	font-size : 8px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle29
{
	font-family : PT Sans;
	font-weight : bold;
	font-size : 31px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle8
{
	font-family : Azo Sans;
	font-size : 8px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle11
{
	font-family : PT Sans;
	font-weight : bold;
	font-size : 13px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle15
{
	font-family : PT Sans;
	font-size : 8px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle22
{
	font-family : PT Sans;
	font-size : 9px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle18
{
	font-family : PT Sans;
	font-size : 8px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle26
{
	font-family : PT Sans;
	font-weight : bold;
	font-size : 13px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle16
{
	font-family : PT Sans;
	font-size : 9px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle20
{
	font-family : PT Sans;
	font-size : 8px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.st0
{
	background : #ED1C24;
	background : rgba(237, 28, 36, 1);
	position : absolute ;
	left : 423px;
	top : 118px;
}
.st1
{
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 42px;
	top : 545px;
}
.st2
{
	background : #E93941;
	background : rgba(233, 57, 65, 1);
	position : absolute ;
	left : 44px;
	top : 384px;
}
.st3
{
	background : #E93941;
	background : rgba(233, 57, 65, 1);
	position : absolute ;
	left : 44px;
	top : 350px;
}
.st4
{
	background : #E93941;
	background : rgba(233, 57, 65, 1);
	position : absolute ;
	left : 437px;
	top : 671px;
}
.st5
{
	background : #E93941;
	background : rgba(233, 57, 65, 1);
	position : absolute ;
	left : 437px;
	top : 590px;
}
.st6
{
	background : #E93941;
	background : rgba(233, 57, 65, 1);
	position : absolute ;
	left : 437px;
	top : 349px;
}
.st7
{
	background : #E93941;
	background : rgba(233, 57, 65, 1);
	position : absolute ;
	left : 43px;
	top : 826px;
}
.st8
{
	background : #ED1C24;
	background : rgba(237, 28, 36, 1);
	position : absolute ;
	left : 423px;
	top : 97px;
}
.st9
{
	background : #E93941;
	background : rgba(233, 57, 65, 1);
	position : absolute ;
	left : 423px;
	top : 76px;
}
.st10
{
	background : #E93941;
	background : rgba(233, 57, 65, 1);
	position : absolute ;
	left : 44px;
	top : 588px;
}
.st11
{
	background : #E93941;
	background : rgba(233, 57, 65, 1);
	position : absolute ;
	left : 424px;
	top : 63px;
}
.st12
{
	background : #E93941;
	background : rgba(233, 57, 65, 1);
	position : absolute ;
	left : 231px;
	top : 487px;
}
.st13
{
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 44px;
	top : 765px;
}
.st14
{
	background : #E93941;
	background : rgba(233, 57, 65, 1);
	position : absolute ;
	left : 231px;
	top : 394px;
}
